@import "../../css-variables.scss";

.flight {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 28px;
}

.flight__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  padding: 8px 16px 6px 13px;
  background-color: #0087C9;
  font-size: 16px;
  color: #ffffff;
}

.flight__airline-logo {
  margin-top: 4px;
}

.flight__price {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.flight__price-tag {
  font-weight: bold;
}

.flight__price-caption {
  font-size: 10px;
}

.flight__leg-list {
  width: 100%;
  margin: 0;
  padding: 0;
}

.flight__button {
  width: calc(100% - 8px);
  padding: 8px;
  font-size: 17px;
  border: none;
  background-color: $BACKGROUND_COLOR_ORANGE;
  border: 2px solid $BACKGROUND_COLOR_ORANGE;
  color: #ffffff;
}
