@import "../../css-variables.scss";

.filter {
  position: relative;
  width: $WIDTH-FILTER;
  max-height: 638px;
  background-color: #D9D9D9;
}

.filter__panel {
  position: sticky;
  top: 30px;
  left: 0;
  padding: 34px 11px 40px 21px;
  background-color: #fff;
  font-size: 13px;
}

.filter__group {
  display: flex;
  flex-direction: column;
  border: none;
  margin: 0 0 42px;
  padding: 0;
  
  &:last-child {
    margin-bottom: 0;
  }
}

.filter__group-caption {
  margin-bottom: 18px;
  font-weight: bold;
}

// .filter__label {
// }

.filter__label_price {
  margin-bottom: 17px;

  &:last-child {
    margin-bottom: 0;
  }
}

.filter__field {
  margin: 0 5px 0 0;
}

.filter__field_price {
  margin: 0 0 0 5px;
}
