@import "./css-variables.scss";

.app {
  display: flex;
  flex-direction: row;
  width: $WIDTH_PAGE;
  margin: 0 auto;
  background-color: #fff;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
  height: 100%;
}

.results {
  overflow: hidden;
  padding: 20px 45px 20px 23px;
  height: 100%;
  flex-grow: 1;
}

.results__view-area {
  width: 100%;
  height: 87.4vh;
  overflow-y: auto;
  box-sizing: border-box;
}

.results__button-background {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 28px 0;
}

.results__button {
  width: 255px;
  height: 31px;
  border: 1px solid #575454;
  color: #1C1C1C;
  font-size: 15px;
}
